<footer>
  <section>
    <div class="container">
      <ul class="list-inline pull-right">
        <li><a class="link-light-inverse" href="http://rime.co/@rime">Social</a></li>
        <li><a class="link-light-inverse" href="http://blog.rime.co">Blog</a></li>
        <li><a class="link-light-inverse" href="{{ site.baseurl }}/sitemap.xml">Sitemap</a></li>
      </ul>
      <ul class="list-inline">
        <li>
          &copy; {{ site.time | date: '%Y' }} Rime, All rights reserved.
        </li>
      </ul>
    </div>
  </section>
</footer>