<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="{{ site.app.name }}" src="./images/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="./one">One <span class="sr-only">(current)</span></a></li>
        <li><a href="./one">Two</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div> --><!-- /.navbar-collapse -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if page.url == '/' %}active{% endif %}">
          <a href="{{ site.baseurl }}/">
            {{ site.title }}
            {% if page.url == '/' %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>

        {% for link in site.data.header %}

          {% assign attribute = '' %}
          {% assign scheme1 = link.url | slice: 0, 5 %}
          {% assign scheme2 = link.url | slice: 0, 6 %}
          {% if scheme1 == 'http:' or scheme2 == 'https:' %}
            {% assign attribute = 'target="_blank"' %}
          {% endif %}

          {% assign link_url = link.url | prepend:"/" %}

          {% if link_url == page.url %}
            {% assign c = "active" %}
          {% else %}
            {% assign c = "" %}
          {% endif %}

          <li class="{{ c }}">
            <a href="{{ link.url }}" {{ attribute }}>{{ link.title %}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>