<header>
  <nav class="navbar navbar-default" role="navigation"> <!-- navbar-fixed-top -->
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="brand" src="{{ site.asset_url }}/images/logo.png" width="142px"> <!-- height="35px" -->
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://rime.co">Go to Rime</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>