<h1>{{ site.title }}</h1>

<!-- <p class="text-muted">
  A Theme for GitHub Pages
</p>
 -->
<p class="lead text-muted">
  {{ site.description }}
</p>

<p>
  <a href="https://github.com/{{ site.github.username }}{{ site.baseurl }}">
    View the Project on GitHub<br>
    <small class="text-muted">{{ site.github.username }}{{ site.baseurl }}</small>
  </a>
</p>

<a class="btn btn-default btn-block" href="https://github.com/{{ site.github.username }}{{ site.baseurl }}/archive/v{{ site.version }}.zip">
  <small class="text-muted">
    Download
    <strong>ZIP v{{ site.version }}</strong>
  </small>
</a>

<br>

{% include navbar.html %}