<ul class="nav nav-pills nav-stacked">
  <li class="{% if page.url == '/' %}active{% endif %}" >
    <a href="{{ site.baseurl }}/">Home</a>
  </li>

  {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
  {% endcomment %}
  
  {% for docs in site.docs %}
    {% if docs.title != null %}
      {% if docs.layout == "page" %}
        <li class="{% if page.url == docs.url %}active{% endif %}">
          <a href="{{ site.baseurl }}{{ docs.url }}">{{ docs.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
