@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,700italic,400italic);


/* Sticky footer styles
http://getbootstrap.com/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
body>footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
}

/*
https://github.com/rimeofficial/static/blob/master/stylesheets/main.css
*/

body {
  /*letter-spacing: 0.01em;*/
  white-space: normal;
  word-wrap: break-word;
  /*word-break: break-all;*/
  /*text-rendering: optimizeLegibility;*/
}

/*@media (max-width: 767px)  { .container { max-width: 500px; } }*/
/*@media (min-width: 768px)  { .container { width:    1020px; } }*/
/*@media (max-width:1024px)  { .container { width:    1020px; } }*/

/*@media (min-width:  768px) { .container { width:  750px; } }
@media (min-width:  992px) { .container { width:  970px; } }*/
@media (min-width: 1200px) { .container { width: 1020px; } }

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    /*color: #555;*/
    background-color: transparent;
    /*text-decoration: underline;*/
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a { text-transform: uppercase; }

.container-slim { max-width: 500px; }

/*
https://github.com/orderedlist/minimal/blob/master/stylesheets/styles.css
*/

body {
  margin-top: 30px;
}

img {
  max-width:100%;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

h1 {
  font-size: 28px;
}

.page h1 { font-size: 36px; }
.page h2 { margin-top: 30px; font-size: 28px; color: rgba(0,0,0,.44); font-weight: 300; }
.page { font-size: 21px; font-weight: 300; }
.page blockquote { font-size: 28px; font-style: italic; color: rgba(0,0,0,.44); }

@media (max-width:  767px) {
  .page h1 { font-size: 28px; }
  .page h2 { margin-top: 30px; font-size: 24px; color: rgba(0,0,0,.44); font-weight: 300; }
  .page { font-size: 18px; font-weight: 300; }
  .page blockquote { font-size: 24px; font-style: italic; color: rgba(0,0,0,.44); }
}

/*
Custom
*/
.nav>li>a {
  color: #333;
}

.btn-default {
  border-color: #eee;
}

.btn-default:hover {
  background-color: #eee;
  border-color: #eee;
}

footer .list-inline { padding-top: 25px; }
footer .list-inline a {
    display: block;
    text-transform: uppercase;
    font-weight: 100;
    color: #a5a7aa;
    line-height: 2;
}