<!doctype html>
<html lang="en">

  <head>
    <title>404 Page Not Found</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.asset_url }}/third-party/plugins/twbs/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.asset_url }}/stylesheets/error.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700" type="text/css">
  </head>

  <body>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            
            <div class="logo">
              <a href=""><img src="{{ site.asset_url }}/images/logo.png" height="40"></a>
            </div>
            
            <div class="error-img">
              <img class="img-responsive" src="{{ site.asset_url }}/images/error/unnamed-1.gif">
            </div>
                
            {{ content }}
            
          </div>
        </div>
      </div>
    </section>
  </body>

</html>