<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <header>
              {% include header.html %}
            </header>
          </div>
          <div class="col-sm-8">
            {{ content }}
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script rel="text/javascript" src="./third-party/twbs/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
