<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 Error &middot; {{ site.app.name }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/third-party/twbs/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/main.css">
  </head>

  <body>
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <img src="http://placehold.it/150?text=404">
          </div>
          <div class="col-sm-8">
            
            <h1>{{ page.title }}</h1>
            <div class="lead">{{ content }}</div>
            
          </div>
        </div>
      </div>
    </section>
  </body>
</html>